// app global css in SCSS form
.q-card.q-dark {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.14);
}
.q-layout {
  background-image: url('/src/assets/backgrounds/background2.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
