:root {
    --bg-neutral-glass-3: rgba(59, 59, 59, 0.3);
    --bg-neutral-glass-4: rgba(59, 59, 59, 0.5);
    --bg-neutral: rgb(76, 76, 76);
    --bg-neutral-opaque: rgba(59, 59, 59, 1);
    --bg-light-grey: #727272;
    --bg-grey: #525252;
    --bg-toolbar: #174b5e;
    --bg-success-brighter: hsl(120, 100%, 22%);
    --bg-success: hsl(120, 100%, 20%);
    --bg-success-darker:hsl(120, 100%, 15%);
    --bg-error-brighter: hsl(0, 100%, 35%);
    --bg-error: hsl(0, 100%, 30%);
    --bg-error-darker: hsl(0, 100%, 25%);
    --bg-alert-brighter: hsl(40, 100%, 35%);
    --bg-alert: hsl(40, 100%, 30%);
    --bg-alert-darker: hsl(40, 100%, 25%);
}

.bg-success {
    background-color: var(--bg-success);
}

.bg-success-brighter {
    background-color: var(--bg-success-brighter);
}

.bg-success-darker {
    background-color: var(--bg-success-darker);
}

.bg-error {
    background-color: var(--bg-error);
}

.bg-error-brighter {
    background-color: var(--bg-error-brighter);
}

.bg-error-darker {
    background-color: var(--bg-error-darker);
}

.bg-alert {
    background-color: var(--bg-alert);
}

.bg-alert-brighter {
    background-color: var(--bg-alert-brighter);
}

.bg-alert-darker {
    background-color: var(--bg-alert-darker);
}

.bg-neutral-glass-3 {
    background-color: var(--bg-neutral-glass-3);
}

.bg-neutral-glass-4 {
    background-color: var(--bg-neutral-glass-4);
}

.bg-neutral {
    background-color: var(--bg-neutral);
}

.bg-light-grey {
    background-color: var(--bg-light-grey);
}

.bg-grey {
    background-color: var(--bg-grey);
}

.bg-toolbar {
    background-color: var(--bg-toolbar);
}
